Source: grml-policyrcd
Section: admin
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.2
Homepage: http://git.grml.org/?p=grml-policyrcd.git
Vcs-git: git://git.grml.org/grml-policyrcd.git
Vcs-Browser: http://git.grml.org/?p=grml-policyrcd.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-policyrcd
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: policyrcd-script-zg2
Description: wrapper for and around invoke-rc.d and policyrcd-script-zg2
 grml-policy-rc.d is a wrapper script for invoke-rc.d to
 avoid automatical startup of init scripts via invoke-rc.d.
 To configure it take a look at /etc/policy-rc.d.conf and
 the manpage of grml-policy-rc.d.
